body {
  margin: 0;
  overflow: hidden;
  position: relative;
  background: black;
}

.stars, .twinkling {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
  top: 0;
  left: 0;
}

.stars {
  background: url('https://i.imgur.com/7xMEjVR.png') repeat;
  animation: moveStars 100s linear infinite;
}

.twinkling {
  background: url('https://i.imgur.com/KK0qEwz.png') repeat;
  animation: moveTwinkling 200s linear infinite;
}


@keyframes moveStars {
  from {background-position: 0 0;}
  to {background-position: -10000px 5000px;}
}

@keyframes moveTwinkling {
  from {background-position: 0 0;}
  to {background-position: 10000px 0;}
}

/* Typing Effect */
.typing-text {
  font-size: 3rem;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #00ffe7;
  width: fit-content;
  margin: 0 auto;
  color: #00ffe7;
}

/* Fade-in Footer */
.fade-in {
  animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
